#   # basic template
#
#   *filter
#
#   :INPUT DROP [0:0]
#   :FORWARD DROP [0:0]
#   :OUTPUT ACCEPT [0:0]
#
#   # prevent ping floods by rate limiting each source address
#   -A INPUT -p icmp -m icmp --icmp-type 8 -m recent --set --name PING --mask 255.255.255.255 --rsource
#   -A INPUT -p icmp -m icmp --icmp-type 8 -m recent --update --seconds 4 --hitcount 6 --name PING --mask 255.255.255.255 --rsource -j DROP
#   -A INPUT -p icmp -m icmp --icmp-type 8 -j ACCEPT
#
#   # open port ssh tcp port 22
#   -A INPUT -m state --state NEW -m tcp -p tcp --dport 22 -j ACCEPT
#
#   # open dns server ports for all
#   -A INPUT -m state --state NEW -p udp --dport 53 -j ACCEPT
#   -A INPUT -m state --state NEW -p tcp --dport 53 -j ACCEPT
#
#   # open http/https (Apache) server port to all
#   -A INPUT -m state --state NEW -p tcp --dport 80 -j ACCEPT
#   -A INPUT -m state --state NEW -p tcp --dport 443 -j ACCEPT
#
#   # open access to mysql server for lan users only
#   -I INPUT -p tcp --dport 3306 -j ACCEPT
#
#   # Autorised loopback
#   -A INPUT -i lo -j ACCEPT
#   -A OUTPUT -o lo -j ACCEPT
#
#   # log iptables denied calls (access via 'dmesg' command)
#   -A INPUT -m limit --limit 5/min -j LOG --log-prefix "iptables denied: " --log-level 7
#
#   # reject all other inbound - default deny unless explicitly allowed policy:
#   -A INPUT -j REJECT
#   -A FORWARD -j REJECT
#
#   COMMIT
