<html>
 <head>
  <title>BBDO served by Leroy, powered by Ansible</title>
  <style type="text/css">
    body {
      width: 800px;
      margin: 0 auto;
      padding: 20px 0;
      font-family: consolas, fixed-width;
      font-size: 18px;
    }
  </style>
 </head>
 <body>
 <h2>
<?php
 echo "Hi!<br /><br />I am a web server configured using Ansible.<br /><br />My name is: ";
 echo exec('hostname');
?>
  </h2>
  <img src="https://i.chzbgr.com/maxW500/7830967552/h2CD6551D/" alt="" />
</body>
</html>
