Port 22
Protocol 2
PasswordAuthentication no
ChallengeResponseAuthentication no
PubkeyAuthentication yes
PasswordAuthentication no
MaxAuthTries 6
PermitTunnel yes
UseDNS no
PermitRootLogin without-password
